<app-header></app-header>
<main class="main pages content">
    <!-- <div (click)="drawerBackdropClicked()" class="mat-drawer-backdrop drawer-backdrop" [ngClass]="{'enabled': drawerBackdropEnable}"></div> -->
    <div class="page-header breadcrumb-wrap" *ngIf="isUserLoggedIn === loggedIn">
        <div class="container">
            <div class="breadcrumb">
                <a href="/login" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Pages <span></span> My Account
            </div>
        </div>
    </div>
    <main class="main">
        <router-outlet></router-outlet>
    </main>
</main>
<app-footer></app-footer>
<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
          <div class="text-center">
              <img src="assets/imgs/theme/loading.gif" alt="" />
          </div>
      </div>
  </div>
</div>