.vertical-tabs {
    display: flex;
    flex-direction: row;
    height: 100%;
  
    ::ng-deep .mat-tab-labels {
      flex-direction: column;
      width: 200px; // Adjust width as needed
    }
  
    ::ng-deep .mat-tab-body-wrapper {
      flex-grow: 1;
    }
}

::ng-deep .mat-mdc-tab-labels {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

::ng-deep .mat-mdc-tab-body-wrapper {
  width: 100%;
}

.vertical-tab-div {
  width: 50%;
  margin: 10rem auto;
}

::ng-deep .mat-mdc-raised-button:not(:disabled) {
  width: 150px;
}

::ng-deep .mat-mdc-tab-body.mat-mdc-tab-body-active {
  padding: 2rem;
}