.account {
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom:10rem;
}

.mat-tab-body-animating>.mat-mdc-tab-body-content, .mat-mdc-tab-body-active>.mat-mdc-tab-body-content {
  visibility: visible;
  overflow: hidden;
}

.my-address {
  width: 100%;
  overflow: hidden;
}