<div class="account">
    <mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChange($event)">
        <mat-tab> 
            <ng-template mat-tab-label>
               Dashboard
            </ng-template>
            <div [@fadeInOut]="selectedIndex === 0 ? 'in' : 'out'">
                <div class="card">
                    <div class="card-header">
                        <h3 class="mb-0">Hello {{profile.name}}!</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            From your account dashboard. you can easily check &amp; view your <a href="javascript:void(0)">recent orders</a>,<br />
                            manage your <a href="javascript:void(0)">shipping and billing addresses</a> and <a href="javascript:void(0)">edit your password and account details.</a>
                        </p>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Orders
            </ng-template>
            <div [@fadeInOut]="selectedIndex === 1 ? 'in' : 'out'">
                <div class="example-container mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" class="mat-table">
                        <!-- Order ID Column -->
                        <ng-container matColumnDef="orderId">
                            <th mat-header-cell *matHeaderCellDef> Order ID </th>
                            <td mat-cell *matCellDef="let order"> {{order.OrderNumber}} </td>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let order"> {{order.OrderDate | date}} </td>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let order"> {{order.Status}} </td>
                        </ng-container>

                        <!-- Total Column -->
                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef> Total </th>
                            <td mat-cell *matCellDef="let order"> ${{order.TotalAmount}} </td>
                        </ng-container>

                        <!-- Total Column -->
                        <ng-container matColumnDef="transactionId">
                            <th mat-header-cell *matHeaderCellDef> Transaction ID </th>
                            <td mat-cell *matCellDef="let order"> {{order.TransactionId}} </td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element" class="content-action-btn">
                                <a href="Javascript:void(0)" (click)="delete(element, $event)" class="btn btn-sm font-sm btn-light rounded"> <i class="material-icons md-delete_forever"></i> Delete </a>
                            </td>
                        </ng-container> -->
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;sticky: true"
                            (click)="selection.toggle(row)">
                        </tr>
                    </table>
                </div>
                <div class="pagination-area mt-30 mb-200">
                    <mat-paginator #paginator
                    [length]="totalProducts"
                    [pageSize]="limit"
                    [pageSizeOptions]="[10, 20, 50, 100]"
                    (page)="pageChanged($event)" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Track your order
            </ng-template>
            <div class="card" [@fadeInOut]="selectedIndex === 2 ? 'in' : 'out'">
                <div class="card-header">
                    <h3 class="mb-0">Orders tracking</h3>
                </div>
                <div class="card-body contact-from-area">
                    <p>To track your order please enter your OrderID in the box below and press "Track" button. This was given to you on your receipt and in the confirmation email you should have received.</p>
                    <div class="row">
                        <div class="col-lg-8">
                            <form class="contact-form-style mt-30 mb-50" action="#" method="post">
                                <div class="input-style mb-20">
                                    <label>Order ID</label>
                                    <input name="order-id" placeholder="Found in your order confirmation email" type="text" />
                                </div>
                                <div class="input-style mb-20">
                                    <label>Billing email</label>
                                    <input name="billing-email" placeholder="Email you used during checkout" type="email" />
                                </div>
                                <button class="submit submit-auto-width" type="submit">Track</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                My Address
            </ng-template>
            <div class="my-address" [@fadeInOut]="selectedIndex === 3 ? 'in' : 'out'">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card mb-3 mb-lg-0">
                            <div class="card-header">
                                <h3 class="mb-0">Billing Address</h3>
                            </div>
                            <div class="card-body">
                                <address>
                                    3522 Interstate<br />
                                    75 Business Spur,<br />
                                    Sault Ste. <br />Marie, MI 49783
                                </address>
                                <p>New York</p>
                                <a href="#" class="btn-small">Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">Shipping Address</h5>
                            </div>
                            <div class="card-body">
                                <address>
                                    4299 Express Lane<br />
                                    Sarasota, <br />FL 34249 USA <br />Phone: 1.941.227.4444
                                </address>
                                <p>Sarasota</p>
                                <a href="#" class="btn-small">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Account details
            </ng-template>
            <div class="card-body" [@fadeInOut]="selectedIndex === 4 ? 'in' : 'out'">
                <p>Already have an account? <a href="/login">Log in instead!</a></p>
                <form method="post" name="enq">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>First Name <span class="required">*</span></label>
                            <input required="" class="form-control" name="name" type="text" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Last Name <span class="required">*</span></label>
                            <input required="" class="form-control" name="phone" />
                        </div>
                        <div class="form-group col-md-12">
                            <label>Display Name <span class="required">*</span></label>
                            <input required="" class="form-control" name="dname" type="text" />
                        </div>
                        <div class="form-group col-md-12">
                            <label>Email Address <span class="required">*</span></label>
                            <input required="" class="form-control" name="email" type="email" />
                        </div>
                        <div class="form-group col-md-12">
                            <label>Current Password <span class="required">*</span></label>
                            <input required="" class="form-control" name="password" type="password" />
                        </div>
                        <div class="form-group col-md-12">
                            <label>New Password <span class="required">*</span></label>
                            <input required="" class="form-control" name="npassword" type="password" />
                        </div>
                        <div class="form-group col-md-12">
                            <label>Confirm Password <span class="required">*</span></label>
                            <input required="" class="form-control" name="cpassword" type="password" />
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit" value="Submit">Save Change</button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <a (click)="logout()">Logout</a>
            </ng-template>
            <p [@fadeInOut]="selectedIndex === 5 ? 'in' : 'out'">Content for Tab 26</p>
        </mat-tab>
    </mat-tab-group>
</div>